<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/static/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/static/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/static/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/static/largetile.png" />
    <title>Упс... | HELPERS</title>
</head>
<body>
    <img class="centerImg" src="{{ url_for('static', filename='logo.png') }}">
    <h1>Упс... Кажется, Вы попали не туда, куда нужно...</h1>
    <h2>Одной из возможных причин, почему это произошло может быть:</h2>
    <ul class="reasons">
        <li>Страницу уничтожили пришельцы</li>
        <li>Наш сайт взломали хакеры и удалили страницу</li>
        <li>Вы ввели название страницы неправильно (это случается очень редко, но проверьте - вдруг у Вас именно этот случай)</li>
        <li>Эта страница была аттакована США</li>
    </ul>
    <h3>Если Вы уверены, что ошибка произошла по нашей вине, <a href="mailto:feedback@rambler.ua?subject=Неправильная 404&body=Здравствуйте! Я считаю, что ошибка 404 на странице https://helpers.pythonanywhere/... (впишите адрес страницы) неверная.">напишите</a>, пожалуйста, нам и опишите проблему. Мы постараемся исправить это как можно скорее :)</h3>
    <form action="/" method="get">
        <button type="submit" class="backToStart">В начало</button>
    </form>
</body>
</html>
