<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/static/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/static/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/static/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/static/largetile.png" />
    <title>Выполнить задание "{{ name }}" | HELPERS</title>
</head>
<body>

    <noscript>
        <div style="position: fixed; top: 0px; left: 0px; z-index: 3000; height: 100%; width: 100%; background-color: #FFFFFF">
            <h1>Пожалуйста, включите JavaScript. Если Вы не знаете, как это сделать, посетите
                <a href="https://www.enable-javascript.com/ru" target="_blank">эту страницу.</a></h1>
        </div>
    </noscript>

    <!-- Menu -->
    <div class="menu">
      <a href="/" class="menu__link">
        Домашняя страница
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 152.9 43.4" style="enable-background:new 0 0 152.9 43.4;" xml:space="preserve">
          <path d="M151.9,13.6c0,0,3.3-9.5-85-8.3c-97,1.3-58.3,29-58.3,29s9.7,8.1,69.7,8.1c68.3,0,69.3-23.1,69.3-23.1 s1.7-10.5-14.7-18.4"/>
        </svg>
      </a>&nbsp;&nbsp;&nbsp;
      <a href="/developers" class="menu__link menu__link--active">
        Для разработчиков
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 152.9 43.4" style="enable-background:new 0 0 152.9 43.4;" xml:space="preserve">
          <path d="M151.9,13.6c0,0,3.3-9.5-85-8.3c-97,1.3-58.3,29-58.3,29s9.7,8.1,69.7,8.1c68.3,0,69.3-23.1,69.3-23.1 s1.7-10.5-14.7-18.4"/>
        </svg>
      </a> &nbsp;&nbsp;&nbsp;
      <a href="/funds" class="menu__link">
        Для фондов
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 152.9 43.4" style="enable-background:new 0 0 152.9 43.4;" xml:space="preserve">
          <path d="M151.9,13.6c0,0,3.3-9.5-85-8.3c-97,1.3-58.3,29-58.3,29s9.7,8.1,69.7,8.1c68.3,0,69.3-23.1,69.3-23.1 s1.7-10.5-14.7-18.4"/>
        </svg>
      </a>&nbsp;&nbsp;&nbsp;
      <a href="/donate" class="menu__link">
        Пончики
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 152.9 43.4" style="enable-background:new 0 0 152.9 43.4;" xml:space="preserve">
          <path d="M151.9,13.6c0,0,3.3-9.5-85-8.3c-97,1.3-58.3,29-58.3,29s9.7,8.1,69.7,8.1c68.3,0,69.3-23.1,69.3-23.1 s1.7-10.5-14.7-18.4"/>
        </svg>
      </a>
    </div>

    <script charset="utf-8" type="text/javascript" src="https://soglkuki.prolexgroup.ru/widget/script.js"></script><script charset="utf-8" type="text/javascript">document.addEventListener('DOMContentLoaded', function(){getCookieNotification({siteName:'HELPERS',personalInformationLink:'/policy',color:'#42f578'});});</script>

    <h1><br></h1>
    <h1>{{ name }}</h1>
    <p class="taskInfo">
        {% for line in info %}
            {{ line }}
            <br>
        {% endfor %}
    </p>

    <script>
        function toggleEmail() {
            document.getElementById('email').innerHTML = 'E-Mail: <a href="mailto:{{ long_email }}?subject=Задание &#34;{{ name }}&#34;&body=&#010&#010https://helpers.pythonanywhere.com/announcement/{{number}}">{{ long_email }}</a>';
        }
    </script>

    <h2>Задание от фонда: "{{ fund }}"</h2>
    <h3 id="email">E-Mail: {{ short_email }}</h3>
    <button onclick="toggleEmail()">Показать полностью</button>

    <br><br><br><br><br><br>

    <footer>
        <p class="about"><a href="/">HELPERS</a> - это сообщество, в котором программисты
        бесплатно помогают благотворительным фондам в разработке обеспечения</p>
    </footer>
</body>
</html>
